[DEFAULT]
my_ip = {{ my_ip }}
use_neutron = True
firewall_driver = nova.virt.firewall.NoopFirewallDriver
enabled_apis = osapi_compute,metadata
transport_url = rabbit://openstack:{{rabbitmq_password}}@controller

[api]
auth_strategy = keystone

[api_database]
connection = mysql+pymysql://nova:{{ db_password }}@localhost/nova_api

[database]
connection = mysql+pymysql://nova:{{ db_password }}@localhost/nova

[oslo_messaging_rabbit]
rabbit_userid = openstack
rabbit_password = {{ rabbitmq_password }}
rabbit_hosts = {{ controller_ip }}

[keystone_authtoken]
auth_url = http://{{ controller_ip }}:5000/v3
memcached_servers = {{ controller_ip }}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = nova
password = {{ keystone_password }}

[vnc]
enabled = True
vncserver_listen = 0.0.0.0
vncserver_proxyclient_address = {{ my_ip }}
novncproxy_base_url = http://{{ controller_ip }}:6080/vnc_auto.html

[glance]
api_servers = http://{{ controller_ip }}:9292

[cinder]
os_region_name = RegionOne

[oslo_concurrency]
lock_path = /var/lib/nova/tmp

[placement]
region_name = RegionOne
project_domain_name = Default
project_name = service
auth_type = password
user_domain_name = Default
auth_url = http://{{ controller_ip }}:5000/v3
username = placement
password = root

[scheduler]
discover_hosts_in_cells_interval = 300

[service_user]
send_service_user_token = true
auth_url = https://controller/identity
auth_strategy = keystone
auth_type = password
project_domain_name = Default
project_name = service
user_domain_name = Default
username = nova
password = {{ keystone_password }}
